#menu{
    width: 800px0;
    margin:0 auto ;
    text-align: center;
    align-content: center;
    padding: initial;
    margin: auto;
    font-family: Work Sans;
    font-size: 30px;
    color: #cfb230;
    -webkit-text-stroke: 3px black;
}
body{
    background: url(./Hostelia/Site/Images/Fond_Hostelia.png);
    background-size: cover;
}