body{
    background: url(Images/Fond_Hostelia.png);
    background-size: cover;
}
#kofi{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    color: #cfb230;
    -webkit-text-stroke: 3px black;
}
#discord{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    color: #cfb230;
    -webkit-text-stroke: 3px black;
}